@import "../modules/_variables.styl";

.header-block{
	background: url("../assets/scary-halloween-night.jpg") no-repeat center;
	background-size: cover;
	height: 200px;
	display: flex;
	justify-content: center;
}
.header-elem-title{
	align-self: center;
	font-size: 2.5em;
	color:$orange-brightest;
}